@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

h3{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

h4{
    color: rgb(174, 174, 174);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-auto-rows: auto;  
    margin: 100px;

}

footer{
    background-color: #000;
    height: 200px;
}


  
