@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');
@font-face {  
  font-family: "Runalto";
  src: url(/fonts/Runalto.otf) format("opentype");
}


body{
    margin: 0;
    padding: 0;
}
:root{
    background-color: rgb(28, 28, 28); 
    border: none;   
    
}

h1{
    font-family: 'Runalto', serif;
    color: #C7AC68;
    font-size: 5em;
    font-weight: 100;
}
h2{
    font-family: 'Runalto', serif;
    color: #e7e7e7;
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
    font-weight: 100;
}
h3{
    color: white;
    font-family: 'Runalto', serif;
    font-weight: 400;
    font-size: 25px;
}

h4{
    color: rgb(174, 174, 174);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    max-width: 60%;
}
h5{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 1em;
}
h6{
    color: rgb(223, 223, 223);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;

}





.parallax {
    background-image: url('/images/slide-1-home.jpg');
    min-height: 100vh;
    margin-top: -100px;
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}



.description {
    color: #ffffff;
    margin-top: 1px;
    padding: 30px;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    min-height: 80px;
}
  
.featuredbutton{
    display: flex;
    justify-content: center;
}

.cards a{
    text-decoration: none;

}
.card button {
    display: flex;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 1.5em;
    justify-content: center;
    font-family: Plus Jakarta Sans;
    vertical-align: center;
    margin-bottom: 30px;
    border-style: solid;
    transition: background-color .3s;
    padding-bottom: 15px;



    
}
  
.card button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    


}
.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);   
    grid-auto-rows: auto;  
    grid-gap: 40px;
    margin-left: 100px;
    max-width: 100%;
    align-items: center;
    margin-right: 100px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.517));
}
     
     
.card {  
    background-color: #141414

}

.card img{
    max-height: 100%;
    object-fit: cover;
    object-position: bottom;

}




/* confirmation page */

.confirmation-bg{
    width: 110%;
    margin-top: -600px;
    max-height: 140vh;
    object-position: center;
    object-fit: cover;
    overflow-x: hidden;
}

.confirmationwidth{
    width: 100%;
    overflow-x: hidden;

}
.confirmtext{
    text-align: center;
    margin-top: -250px;
    width: 85%;
    background-color: #141414;
    z-index: 10;
    height: 70vh;
    vertical-align: top;
}

.confirmcard{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -100px;
}

.continue-shopping{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    color: #C7AC68;
    text-decoration: none;
    font-size: 0.7em;
    text-align: center;
    justify-content: center;
    transition: color .3s;

}
.continue-shopping:hover{
    color: #ffffff;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.back-text{
    vertical-align: bottom;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #C7AC68;
    letter-spacing: 2px;
}

.back-span{
    margin-top: 20px;
    margin-bottom: -10px;
}

.back {
    border: solid #C7AC68;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    
  }

.back:hover ,.back-text:hover{
    border-color: white;
    color: white;

}




@media screen and (max-width: 2000px){

}
  
@media screen and (max-width: 1300px){
   
}
  
@media screen and (max-width: 1100px){
    .description {
 
        font-size: 1.1em;
     
        min-height: 110px;
    }
    .card button {

        width: 70%;
        font-size: 1.1em;
        
    }
}
  
@media screen and (max-width: 1000px){
    .description {
 
        font-size: 1.1em;
     
        min-height: 110px;
    }
    .card button {

        width: 70%;
        font-size: 1.1em;
        
    }
    .cards {
        display: grid;
        justify-content: center;
        grid-gap: 40px;
        padding-left: 50px;
        padding-right: 50px;

        margin: 0;


    }
}
  

  


  
@media screen and (max-width: 767px){

    .cards {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);   
        grid-auto-rows: auto;  
        
    }
    .description {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.8em;
     
        min-height: 110px;
    }
    .card button {

        width: 70%;
        font-size: 3em; 
    }  
         
}
  
@media screen and (max-width: 580px){
    .cards {
        display: grid;
        justify-content: center;
        grid-gap: 40px;
        padding-left: 40px;
        padding-right: 40px;

        margin: 0;

        grid-template-columns: repeat(1, 1fr);   
        grid-auto-rows: auto;  

    }
    h2{
        padding-top: 20px;
        font-size: 2em;
    }
    .description {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.5em;
     
        min-height: 110px;
    }
    .card button {

        width: 70%;
        font-size: 1.9em; 
    }  

}

@media screen and (max-width: 420px){
    .cards {
        display: grid;
        justify-content: center;
        grid-gap: 50px;
        padding-left: 40px;
        padding-right: 40px;

        margin: 0;

        grid-template-columns: repeat(1, 1fr);   
        grid-auto-rows: auto;  

    }
    h2{
        padding-top: 20px;
        font-size: 1.8em;
    }
    .description {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.1em;
     
        min-height: 100px;
    }
    .card button {

        width: 80%;
        font-size: 1.9em; 
    }  

}